.nav-item{
    margin: 0 32px;
}
.icon-nav{
    font-size: 60px;
    color: rgb(44,143,220);
}
.card {
    text-align: center;
    border: none;
}
.img-carousel {
    height: 130px;
}
.img-product {
    width: 100%;
    height: 100%;
}